select {
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: none;
}

.select {
  position: relative;
  display: flex;
  width: 130px;
  height: 3em;
  line-height: 3;
  overflow: hidden;
  margin-bottom: -6px;
  @media (max-width: 568px) {
    margin-bottom: 0px;
  }
}
select {
  flex: 1;
  padding: 0 0.5em;
  color: var(--primary-blue);
  cursor: pointer;
  font-size: 15px;
  margin-left: 20px;
  font-weight: 500;
  letter-spacing: 0.6px;
  position: relative;
}
.select::after {
  content: '\25B2';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  color: var(--primary-blue);
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
  transform: rotate(180deg) scale(1.2);
}

.flag {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;

  img {
    width: 20px;
  }
}
