<div class="select">
  <select name="format" id="format">
    <option selected>PT - BRA</option>
  </select>
  <div class="flag">
    <img class="flag" src="https://flagcdn.com/br.svg" alt="South Africa" />
  </div>
</div>
