header {
  display: flex;
  justify-content: space-between;
  padding: 6px 40px;
  border-bottom: 1px solid #ddd;

  @media (max-width: 768px) {
    padding: 6px 20px;
  }

  @media (max-width: 520px) {
    flex-direction: column;
    padding: 6px 10px;
  }
}

header .actions {
  display: flex;
  align-items: center;
  img {
    width: 10px;
    height: 10px;
  }
  span {
    font-size: 15px;
    color: var(--primary-pink);
    letter-spacing: 0.6px;
    font-family: 'KoHo', sans-serif;
    font-weight: 700;
    &:first-of-type {
      margin-right: 20px;
    }
  }
}
