<header>
  <app-language-select></app-language-select>
  <div class="actions">
    <span>
      <img src="../../../assets/images/handshake.svg" alt="" />
      ME TORNAR PARCEIRO
    </span>
    <span>
      <img src="../../../assets/images/user_blue.svg" alt="" />
      ENTRAR
    </span>
  </div>
</header>
