.register-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-close-wrapper {
  display: flex;
  justify-content: space-between !important;
  padding: 0px;
  margin-top: -5px;

  button {
    border: none;
    background: none;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  margin-top: -20px;
  justify-content: flex-start !important;
  align-items: center;
  height: 100%;

  .title {
    color: var(--primary-pink);
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: -0.53px;
    line-height: 41px;
    font-family: 'Koho', sans-serif;
    margin-bottom: 17px;
  }

  img {
    width: 54px;
    margin-bottom: 15px;
  }

  p {
    color: var(--primary-blue);
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -0.48px;
    line-height: 28px;
    font-family: 'Koho', sans-serif;
    margin: 0px 100px 17px 100px;

    @media (max-width: 768px) {
      margin: 0px 40px 17px 40px;
    }
  }
}

form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 20px;

  .register-input-wrapper {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 25px;
    position: relative;

    label {
      text-align: left;
      font: normal normal normal 12px/16px KoHo;
      color: #141414;
      opacity: 1;
      margin-bottom: 5px;
    }

    input {
      height: 40px;
      border-radius: 4px;
      border: 1px solid #cdd4d9;
      padding-left: 10px;
      outline: none;
    }

    .success-icon {
      position: absolute;
      right: 5px;
      width: 17px;
      bottom: 12px;
    }

    .error-icon {
      position: absolute;
      right: 5px;
      width: 17px;
      bottom: 12px;
    }

    .error-message {
      color: red;
      font-size: 12px;
    }

    .error-message-bottom {
      color: red;
      font-size: 12px;
      position: absolute;
      bottom: -20px;
    }
  }
}

.save-button {
  width: 185px;
  height: 48px;
  border: none;
  background: var(--primary-pink);
  color: var(--primary-white);
  border-radius: 6px;
  font-family: 'KoHo', sans-serif;
  font-weight: bold;
  font-size: 16px;
  align-self: center;
  margin: 0 auto;

  &:disabled {
    background: #c1c1c1;
  }
}
