<mat-dialog-actions align="center" class="register-close-wrapper">
  <button mat-button mat-dialog-close class="register-close-button">
    <img src="assets/images/left-arrow.svg" alt="" />
  </button>
  <button mat-button mat-dialog-close class="register-close-button">
    <img src="assets/images/close.svg" alt="" />
  </button>
  <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
</mat-dialog-actions>
<div class="register-modal">
  <mat-dialog-content class="modal-content">
    <span class="title">Torne-se um parceiro</span>
    <img src="assets/images/step-1.svg" alt="Step 1 image" />
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry’s standard dummy text ever since the
      1500s, when an
    </p>
    <form [formGroup]="form">
      <div class="register-input-wrapper">
        <label
          for="documento"
          [ngClass]="
            form.controls['document'].errors && form.controls['document'].dirty
              ? 'error-message'
              : ''
          "
          >Para prosseguir preciso que informe seu CNPJ*</label
        >
        <input
          type="text"
          matInput
          id="documento"
          placeholder="Digite apenas números"
          formControlName="document"
          autocomplete="off"
        />
        <img
          src="assets/images/success-icon.png"
          *ngIf="
            !form.controls['document'].errors && form.controls['document'].dirty
          "
          class="success-icon"
          alt="Icone de sucesso"
        />
        <img
          src="assets/images/error-icon.png"
          *ngIf="
            form.controls['document'].errors && form.controls['document'].dirty
          "
          class="error-icon"
          alt="Icone de erro"
        />
        <span
          class="error-message-bottom"
          *ngIf="
            form.controls['document'].hasError('required') &&
            form.controls['document'].dirty
          "
        >
          Este é um campo obrigatório
        </span>
      </div>
      <div class="register-input-wrapper">
        <label
          for="company"
          [ngClass]="
            form.controls['company'].errors && form.controls['company'].dirty
              ? 'error-message'
              : ''
          "
          >Qual seria o nome da sua empresa?*</label
        >
        <input
          type="text"
          matInput
          id="company"
          formControlName="company"
          autocomplete="off"
        />
        <img
          src="assets/images/success-icon.png"
          *ngIf="
            !form.controls['company'].errors && form.controls['company'].dirty
          "
          class="success-icon"
          alt="Icone de sucesso"
        />
        <img
          src="assets/images/error-icon.png"
          *ngIf="
            form.controls['company'].errors && form.controls['company'].dirty
          "
          class="error-icon"
          alt="Icone de erro"
        />
        <span
          class="error-message-bottom"
          *ngIf="
            form.controls['company'].hasError('required') &&
            form.controls['company'].dirty
          "
        >
          Este é um campo obrigatório
        </span>
      </div>
      <div class="register-input-wrapper">
        <label
          for="email"
          [ngClass]="
            form.controls['email'].errors && form.controls['email'].dirty
              ? 'error-message'
              : ''
          "
          >Poderia nos passar seu e-mail?* Não se preocupe, não vamos encher sua
          caixa postal</label
        >
        <input
          type="text"
          matInput
          id="email"
          placeholder="Ex: teste@teste.com.br"
          formControlName="email"
          autocomplete="off"
        />
        <img
          src="assets/images/success-icon.png"
          *ngIf="!form.controls['email'].errors && form.controls['email'].dirty"
          class="success-icon"
          alt="Icone de sucesso"
        />
        <img
          src="assets/images/error-icon.png"
          *ngIf="form.controls['email'].errors && form.controls['email'].dirty"
          class="error-icon"
          alt="Icone de erro"
        />
        <span
          class="error-message-bottom"
          *ngIf="
            form.controls['email'].hasError('required') &&
            form.controls['email'].dirty
          "
        >
          Este é um campo obrigatório
        </span>
        <span
          class="error-message-bottom"
          *ngIf="
            form.controls['email'].hasError('email') &&
            form.controls['email'].dirty
          "
        >
          Por favor, informe um e-mail válido
        </span>
      </div>
      <div class="register-input-wrapper">
        <label
          for="user"
          [ngClass]="
            form.controls['user'].errors && form.controls['user'].dirty
              ? 'error-message'
              : ''
          "
          >Como você gostaria de ser chamado?* Lembre-se que essa será a forma
          como você vai acessar a plataforma</label
        >
        <input
          type="text"
          matInput
          id="user"
          placeholder="Ex: @teste_"
          formControlName="user"
          autocomplete="off"
        />
        <img
          src="assets/images/success-icon.png"
          *ngIf="!form.controls['user'].errors && form.controls['user'].dirty"
          class="success-icon"
          alt="Icone de sucesso"
        />
        <img
          src="assets/images/error-icon.png"
          *ngIf="form.controls['user'].errors && form.controls['user'].dirty"
          class="error-icon"
          alt="Icone de erro"
        />
        <span
          class="error-message-bottom"
          *ngIf="
            form.controls['user'].hasError('required') &&
            form.controls['user'].dirty
          "
        >
          Este é um campo obrigatório
        </span>
      </div>
      <div class="register-input-wrapper">
        <label
          for="password"
          [ngClass]="
            form.controls['password'].errors && form.controls['password'].dirty
              ? 'error-message'
              : ''
          "
          >Escolha uma senha forte e segura para acessar a plataforma*</label
        >
        <input
          type="password"
          matInput
          id="password"
          placeholder="Mínimo de 6 dígitos"
          formControlName="password"
          autocomplete="off"
        />
        <img
          src="assets/images/success-icon.png"
          *ngIf="
            !form.controls['password'].errors && form.controls['password'].dirty
          "
          class="success-icon"
          alt="Icone de sucesso"
        />
        <img
          src="assets/images/error-icon.png"
          *ngIf="
            form.controls['password'].errors && form.controls['password'].dirty
          "
          class="error-icon"
          alt="Icone de erro"
        />
        <span
          class="error-message-bottom"
          *ngIf="
            form.controls['password'].hasError('required') &&
            form.controls['password'].dirty
          "
        >
          Este é um campo obrigatório
        </span>
      </div>
      <div class="register-input-wrapper">
        <label
          for="confirmPassword"
          [ngClass]="(form.errors?.['mismatch'] || form.controls['confirmPassword'].errors) && form.controls['confirmPassword'].dirty ? 'error-message' : ''"
          >Estamos acabando! Só precisamos que você confirme sua senha*</label
        >
        <input
          type="password"
          matInput
          id="confirmPassword"
          formControlName="confirmPassword"
          autocomplete="off"
        />
        <img
          src="assets/images/success-icon.png"
          *ngIf="
            !form.controls['confirmPassword'].errors &&
            form.controls['confirmPassword'].dirty
          "
          class="success-icon"
          alt="Icone de sucesso"
        />
        <img
          src="assets/images/error-icon.png"
          *ngIf="
            form.controls['confirmPassword'].errors &&
            form.controls['confirmPassword'].dirty
          "
          class="error-icon"
          alt="Icone de erro"
        />
        <span
          class="error-message-bottom"
          *ngIf="
            form.controls['confirmPassword'].hasError('required') &&
            form.controls['confirmPassword'].dirty
          "
        >
          Este é um campo obrigatório
        </span>
        <span
          class="error-message-bottom"
          *ngIf="form.errors?.['mismatch'] && (form.controls['confirmPassword'].dirty || form.controls['confirmPassword'].touched) && form.controls['confirmPassword'].value !== ''"
        >
          senhas nao conferem
        </span>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button class="save-button" (click)="save()">Prosseguir</button>
  </mat-dialog-actions>
</div>
