main {
  display: flex;
  flex-direction: column;
  height: calc(100vh - (77px + 49px));
  background-image: url('../../../assets/images/woman-blue-filter.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

main .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 665px;
  max-height: 266px;
  margin: 70px 0px 0px 100px;

  &-top {
    border-bottom: 1px solid var(--primary-white);
    padding: 10px 0px 10px 40px;

    span {
      color: var(--primary-white);
      text-align: center;
      font-family: 'KoHo', sans-serif;
      font-weight: bold;
      letter-spacing: -0.96px;
      font-size: 41px;
      line-height: 40px;
    }
  }

  &-bottom {
    padding: 10px 54px 0px 40px;
    margin-bottom: 40px;
    span {
      color: var(--primary-white);
      text-align: left;
      font-family: 'KoHo', sans-serif;
      font-weight: 300;
      font-size: 20px;
      letter-spacing: -0.48px;
      line-height: 28px;
    }
  }
}
button {
  border: none;
  outline: none;
  background-color: var(--primary-pink);
  color: var(--primary-white);
  width: 185px;
  height: 48px;
  border-radius: 6px;
  margin-left: 140px;
  font-family: 'Koho' sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.register-dialog {
  border: 1px solid red;
  padding: 0px !important;

  .mat-dialog-container {
    padding: 0;
    background: none;
  }
}

.register-dialog .mat-dialog-container {
  border: 1px solid red;
  padding: 0px !important;

  .mat-dialog-container {
    padding: 0px;
  }
}
