<main>
  <div class="content">
    <div class="content-top">
      <span>Conheça novas formas de trabalhar</span>
    </div>
    <div class="content-bottom">
      <span
        >Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry’s standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. Lorem Ipsum is simply dummy
        text of the printing and typesetting industry.</span
      >
    </div>
  </div>
  <button class="register-button" (click)="openDialog()">
    Me tornar parceiro
  </button>
</main>
