<nav>
  <img src="assets/images/logo-provisorio.png" alt="Logo Bravve" />
  <div class="actions">
    <app-main-menu></app-main-menu>
    <!-- <span>Meus sites</span> -->
    <app-main-search></app-main-search>
  </div>
</nav>
