nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;

  img {
    width: 100px;
  }

  .actions {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    span {
      display: flex;
      align-items: center;
      font-size: 15px;
      color: #04005e;
      font-family: 'KoHo', sans-serif;
      font-weight: 700;
      margin-right: 40px;
      cursor: pointer;
      white-space: nowrap;
    }
  }

  @media (max-width: 768px) {
    padding: 10px 20px;
  }

  @media (max-width: 520px) {
    padding: 10px 10px;
  }
}
