@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@300;500;700&display=swap');

:root {
  --primary-white: #ffffff;
  --primary-pink: #ff2079;
  --primary-blue: #3042a3;
  --primary-gray: #f1f2f6;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// Remove o padding de todos os modais, assim podemos controlar o tamanho do padding
.mat-dialog-container {
  padding: 0px !important;
}

.mat-dialog-actions {
  margin-bottom: 0px !important;
}
