.main-search {
  display: flex;
  height: 37px;
  background-color: #e5e8ea;
  border-radius: 4px;

  input {
    background-color: #e5e8ea;
    border-radius: 4px;
    outline: none;
    box-shadow: none;
    border: none;
    flex: 1;
    display: flex;
    padding: 10px 0px 10px 15px;
    font-size: 15px;
    font-weight: 300;
    color: var(--primary-blue);

    &::placeholder {
      color: #807e7f;
    }
  }

  button {
    width: 37px;
    height: 37px;
    border-radius: 4px;
    background-color: var(--primary-blue);
    outline: none;
    box-shadow: none;
    border: none;

    img {
      width: 11.76px;
    }
  }
}
