.main-menu {
  display: flex;

  span {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: var(--primary-blue);
    font-family: 'KoHo', sans-serif;
    font-weight: 500;
    margin-right: 40px;
    cursor: pointer;
    white-space: nowrap;

    img {
      width: 10px;
      margin-top: 3px;
      margin-left: 5px;
    }

    @media (max-width: 1280px) {
      margin-right: 20px;
    }
  }

  @media (max-width: 1024px) {
    display: none;
  }
}
