<div class="main-menu">
  <span>
    Lorem
    <img src="assets/images/down-arrow.png" alt="" />
  </span>
  <span>
    Lorem Ipsum
    <img src="assets/images/down-arrow.png" alt="" />
  </span>
  <span>
    Lorem Ipsum
    <img src="assets/images/down-arrow.png" alt="" />
  </span>
  <span>
    Lorem Ipsum
    <img src="assets/images/down-arrow.png" alt="" />
  </span>
</div>
